
---
const pageTitle = "About Me";
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>pageTitle</title>
	</head>
	<body>
        <a href="/">Home</a>
        <a href="/about/">About</a>
        <a href="/blog/">Blog</a>
		<h1>Blog Arman</h1>
        <h1>About Me</h1>
        <img src="https://i.pinimg.com/564x/79/d8/50/79d85017ceb58a2f4e6976bb6f7b771c.jpg" alt="Miaou">
</html>
