        
        
      
        <html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
        <a href="/">Home</a>
        <a href="/about/">About</a>
        <a href="/blog/">Blog</a>
		<h1>Blog Arman</h1>
        <h1>About Me</h1>
        <p>Ici je prévois de mettre de la philo !</p>
        <ul>
            <li><a href="/posts/post-1/">Des notes de lecture</a></li>
            <li><a href="/posts/post-2/">Un peu de philo de l'art</a></li>
            <li><a href="/posts/post-3/">Et des analyses de divers médium populaires (Films, Jeux vidéos)</a></li>
          </ul>
</html>