---

import Baselayout from "../Layouts/Baselayout.astro";
import pix from "../assets/luffy.jpg";
import {Image} from "astro:assets";
const pageTitle = "Home Page"
---

<Baselayout>
		<div class="Presentation">
			<div class="helloworld">
				<h1>Hello World &#128513</h1> 
				<p class="Hey">Hey, my name is Arman, I am a Philosophy student trying to build a website. Hope you'll find some things interesting &#128516</p>
			</div>
			<div class="photo">
				<Image src={pix} alt="mypicture" height={380} width={380}/>
			</div>
		</div>
		<div class="section2">
			<div class="Titresection"><h2>Here are some of my projects !</h2></div>
			<div class="portfolio"> 
					<a href="/"> 
						<div class="work"> 
							<img src="website.png" alt="photo_du_code">
							<h3>Coder ce site &#128521</h3>
						</div>
					</a>
				<div class="work"><h3>Projet2</h3></div>
				<div class="work"><h3>Projet3</h3></div>
			</div>
		</div>
	</Baselayout>
