---

import "../styles/global.css";
import pix from "../assets/luffy.jpg"
import {Image} from "astro:assets"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />  
		<!-- icone du tab -->
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>aprangere</title>
	</head>
	<body>
	<div class="container">
		<div class="Header">
			<div class="Homebutton"><a href="/">Arman Prangere</a></div>
			<div class="Navigation">
				<a href="/blog">Philo</a>
				<a href="https://fr.wikipedia.org/wiki/Past%C3%A8que">kiwi</a>
				<a href="https://fr.wikipedia.org/wiki/Past%C3%A8que">pasteque</a>
			</div>
		</div>
		<div class="Presentation">
			<div class="helloworld">
				<h1>Hello World &#128513</h1> 
				<p class="Hey">Hey, my name is Arman, I am a Philosophy student trying to build a website. Hope you'll find some things interesting &#128516
				</p>
			</div>
			<div class="photo">
				<Image src={pix} alt="mypicture" height={380} width={380}/>
			</div>
		</div>
		<div class="section2">
			<div class="Titresection"><h2>Here are some of my projects !</h2></div>
			<div class="portfolio"> 
				<div class="work">Projet1</div>
				<div class="work">Projet2</div>
				<div class="work">Projet3</div>
				<div class="work">Projet4</div>
				<div class="work">Projet5</div>
				<div class="work">Projet6</div>
				<div class="work">Projet7</div>
				<div class="work">Projet8</div>
				<div class="work">Projet9</div>
			</div>
		</div>
		<div class="Footer">
			<div class="Contactform"><h2>Contact me here</h2></div>
			<div class="socials">
				<div class="icone">
					<a href="https://www.youtube.com/channel/UCMVDLO_ZwXU5ZshIUeYPVpA">
						<img src="yt.png" alt="icone_youtube" />
					</a>
				</div>
				<div class="icone">
					<a href="https://www.linkedin.com/in/arman-prangere-%F0%9F%8C%92-1224791a6">
						<img src="linkedin.png" alt="icone_linkedin">
					</a>
				</div>
				<div class="icone">icone 3</div>
				<div class="icone">icone 4</div>
			</div>
			<div class="legal">Legal notice</div>
		</div>
	</div>
	</body> 
</html>
