---

import Baselayout from "../Layouts/Baselayout.astro";
import pix from "../assets/luffy.jpg";
import {Image} from "astro:assets";
const pagetitle = "Home Page"
---

<Baselayout>
		<div class="Presentation">
			<div class="helloworld">
				<h1>Hello World &#128513</h1> 
				<p class="Hey">Coucou ! Je m'appelle Arman, j'ai 19 ans et j'essaye de coder un site. J'espère que vous y trouverez des choses intéressantes &#128516. Vous pouvez aller faire un tour dans <a href="/philo">Philo</a> pour voir mon blog ou dans <a href="/musique">Musique</a> pour écouter mes sons. </a></p>
			</div>
			<div class="photo">
				<Image src={pix} alt="mypicture" height={380} width={380}/>
			</div>
		</div>
		<div class="section2">
			<div class="Titresection"><h2>Quelques-uns de mes projets !</h2></div>
			<div class="portfolio"> 
					<a href="/"> 
						<div class="work"> 
							<img src="website.png" alt="photo_du_code">
							<div class="fill_foncé"></div>
							<h3 class="titre_projet">Coder ce site &#128521</h3>
						</div>
					</a>
				<div class="work"><h3>Projet2</h3></div>
				<div class="work"><h3>Projet3</h3></div>
			</div>
		</div>
	</Baselayout>
