---
import Baselayout from "../Layouts/Baselayout.astro"
const pagetitle = "Musique"
---

<Baselayout>
		<div class="section2">
			<div class="Titresection"><h2>Here are some of my songs</h2></div>
			<div class="portfolio-vertical"> 
				<figure>
					<figcaption>Son 1</figcaption>
					<audio controls src="Sweet_rain.mp3"></audio>
				</figure>
				<figure>
					<figcaption>Son 2</figcaption>
					<audio controls src="androidjapan.mp3"></audio>
				</figure>
				<figure>
					<figcaption>Son 2</figcaption>
					<audio controls src="androidjapan.mp3"></audio>
				</figure>
				<figure>
					<figcaption>Son 2</figcaption>
					<audio controls src="androidjapan.mp3"></audio>
				</figure>
			</div>
		</div>
	</Baselayout>
