---
import Social from "./social.astro";
---
<style> 
    a {
      padding: 0.5rem 1rem;
      color: white;
      background-color: orangered;
      text-decoration: none;
    }
</style>

<footer>
    <p></p>
    <a href="https://www.youtube.com/channel/UCMVDLO_ZwXU5ZshIUeYPVpA">Youtube</a>
    <a href="https://www.linkedin.com/in/arman-prangere-%F0%9F%8C%92-1224791a6">Linkedin</a>
  </footer>